<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Budżety</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{base :: base(title='Strona główna', content=~{::section})}">
    <section th:fragment="content">
        <div class="container">
            <h1>Budżety</h1>

            <div th:if="${budgets.isEmpty()}">
                <p>Nie posiadasz żadnego budżetu. <a th:href="@{/create-budget}">Stwórz nowy budżet</a></p>
            </div>

            <div class="row" th:unless="${budgets.isEmpty()}">
                <div class="col">
                    <ul class="list-group">
                        <li th:each="budget : ${budgets}" class="list-group-item">
                            <a th:href="@{/budget/{id}(id=${budget.id})}" th:text="${budget.name}">Nazwa budżetu</a>
                        </li>
                    </ul>
                    <br>
                    <a th:href="@{/create-budget}" class="btn btn-primary">Stwórz nowy budżet</a>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
