<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stwórz budżet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{base :: base(title='Stwórz budżet', content=~{::section})}">
    <section th:fragment="content">
        <div class="container">
            <h1>Stwórz nowy budżet</h1>

            <form action="#" th:action="@{/create-budget}" th:object="${budget}" method="post">
                <div class="form-group">
                    <label for="name">Nazwa budżetu:</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Nazwa">
                </div>

                <button type="submit" class="btn btn-primary">Stwórz budżet</button>
            </form>
        </div>
    </section>
</div>
</body>
</html>
